<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <!-- ======= Hero Section ======= -->
        <section id="hero" style="background: url('/resources/logo_template/hero-bg.jpg'); background-size: 100%;" class="d-flex align-items-center justify-content-center">
            <div id="bg">
                <!-- <img style="padding-top: 500px ;z-index: 100" width="100%" src="/Assignment_Final/image/hero-bg.jpg"> -->
                <div style="z-index: 500" class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                    <div>
                        <h1 style="font-size: 90px; width: 1200px; font-family: Hyperwave Two; font-weight: 500;" class="col-xl-7 mb-5">
                            Sale up to <b>30%</b></h1>
                        <h2 style="font-size: 50px; width: 1200px; font-family: Hyperwave Two; font-weight: 300;" class="col-xl-6 mt-4">
                            Every Boy Crush Colection</h2>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hero -->

        <div>
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container" data-aos="fade-up">
                    <div class="mb-2 title_about" style="margin-left: auto; margin-right: auto; width: 70px">
                        <img width="70px" src="/resources/style/home/assets/img/part-logo.png" />
                    </div>
                    <h1 style="font-size: 35px; font-weight: 600; font-family: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif; text-align: center;">
                        THE STORY OF CURNON</h1>

                    <div class="row">
                        <div class="col-lg-5 mt-5 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                            <p style="font-size: 30px; font-weight: 600; font-family: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif; text-align: center;">
                                TẠI SAO KHÔNG ?</p>
                            <p style="font-size: 15px; font-weight: 600; font-family: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif; text-align: justify;" class="font-italic">"Với khát khao trở thành người đồng hành của các bạn, chúng tôi tin rằng chính mình phải có đủ can đảm để vượt qua thách thức, dám nghĩ, dám dẫn đầu và khác biệt.Tương lai với chúng tôi là những sản phẩm vươn tầm thế giới, là thế hệ trẻ Việt Nam đầy tự tin để theo đuổi đam mê của mình, là "Why not?" trở thành triết lí của tất cả mọi người."</p>
                            <hr />
                            <p style="font-size: 30px; font-weight: 600; font-family: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif; text-align: center;" class="mt-5">GIÁ TRỊ CỐT LÕI</p>
                            <p style="font-size: 15px; font-weight: 600; font-family: Montserrat, -apple-system, BlinkMacSystemFont, sans-serif; text-align: justify;" class="font-italic">"Chúng tôi tin rằng cách tốt nhất để truyền tải được thông điệp “Tại sao không?” trước hết phải bắt đầu từ chính tập thể của Curnon.Chúng tôi biến sản phẩm phụ kiện không thể thiếu trở thành những biểu tượng tinh thần đầy cảm hứng, để thúc đẩy thế hệ trẻ Việt Nam không ngừng tiến lên phía trước"</p>
                        </div>
                        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left " data-aos-delay="100 ">
                            <img src="/resources/style/home/assets/img/about/bg1-wuA.jpg " class="img-fluid" alt=" " />
                        </div>
                    </div>
                </div>
            </section>
            <!-- End About Section -->

            <!-- ======= idol Section ======= -->
            <section id="testimonials " class="testimonials">
                <div class="container" data-aos="zoom-in ">
                    <div class="owl-carousel testimonials-carousel">
                        <div class="testimonial-item">
                            <img src="/resources/style/home/assets/img/testimonials/hoang-dung.png " class="testimonial-img" alt=" " />
                            <h3>Hoàng Dũng</h3>
                            <h4>Singer &amp; Song-writer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Khi đã thành thật với bản thân, mình sẽ thành thật được với tất cả mọi người<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="/resources/style/home/assets/img/testimonials/chuoi.png " class="testimonial-img" alt=" " />
                            <h3>Chuối</h3>
                            <h4>Vocal of Limeboscx ; Bassist of WINDRUNNER</h4>
                            <p>	
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Mỗi chất liệu âm nhạc đều mang đến cho mình nguồn cảm hứng.<i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="/resources/style/home/assets/img/testimonials/chi-ca.png " class="testimonial-img" alt=" " />
                            <h3>Chị Cả</h3>
                            <h4>Rapper</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Rap là một định nghĩa mông lung với gia đình nhưng là cả tuổi trẻ và hoài bão của mình <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="/resources/style/home/assets/img/testimonials/skkkk.png " class="testimonial-img" alt=" " />
                            <h3>KraziNoyze</h3>
                            <h4>Rapper &amp; Founder of Tinh Hoa Records</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Người chơi Hiphop đủ sâu sẽ tự nhận ra nhau dù bạn trong dáng vẻ nào. <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>

                        <div class="testimonial-item">
                            <img src="/resources/style/home/assets/img/testimonials/rica.png " class="testimonial-img" alt=" " />
                            <h3>Rica</h3>
                            <h4>Rapper</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i> Hãy chơi nhạc bằng bản năng nhưng để theo đuổi, hãy dùng lý trí <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Idol Section -->

            <!-- ======= Clients Section ======= -->
            <section id="clients " class="clients">
                <div class="container" data-aos="zoom-in ">
                    <div class="owl-carousel clients-carousel">
                        <div>
                            <a href="/home/index "> <img src="https://curnonwatch.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fcomponents%2Ffooter%2Fassets%2Fslides%2FBackground-4.10253a9ea4152855daf637d19a079c16.jpg&w=384&q=100" alt="1 " /></a>
                        </div>

                        <img src="https://curnonwatch.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fcomponents%2Ffooter%2Fassets%2Fslides%2FBackground-13.8f2a50b404eb7ebe4471343f9d1d36e5.jpg&w=384&q=100" alt="2 " /> 
                        <img src="https://curnonwatch.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fcomponents%2Ffooter%2Fassets%2Fslides%2FBackground-1.5b951877364e1e729d98391f69742591.jpg&w=384&q=100" alt=" " /> 
                        <img src="https://curnonwatch.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fcomponents%2Ffooter%2Fassets%2Fslides%2FBackground-2.7d2ddd56cdf32c851de8fc5b47964d8b.jpg&w=384&q=100" alt=" " /> 
                        <img src="https://curnonwatch.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fcomponents%2Ffooter%2Fassets%2Fslides%2FBackground-3.271bb6a73f3cbfb4b357310df87e6457.jpg&w=384&q=100" alt=" " /> 
                        <img src="https://curnonwatch.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fcomponents%2Ffooter%2Fassets%2Fslides%2FBackground-7.c67b518f0e6bd23358f63422ae077d16.jpg&w=384&q=100" alt=" " /> 
                        <img src="https://curnonwatch.com/_next/image?url=%2F_next%2Fstatic%2Fimage%2Fcomponents%2Ffooter%2Fassets%2Fslides%2FBackground-11.df1839dc7778d5fd00566e86bd541c34.jpg&w=384&q=100" alt=" " />
                    </div>
                </div>
            </section>
            <!--  End Clients Section -->

            <!-- ======= Product Section ======= -->
            <section id="portfolio" class="portfolio">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Product</h2>
                        <p>All Product</p>
                    </div>

                    <form class="forms-sample" action="/product/search " method="GET">
                        <div class="input-group" style="width: 500px; margin-left: auto; margin-right: auto">
                            <input name="keySearchHome" th:value="${session.keySearchHome}"  type="text" class="form-control" placeholder="Search " aria-label="Recipient 's username" aria-describedby="basic-addon2" />
                            <div class="input-group-append">
                                <button style="background: black; color: white" class="btn btn-sm btn-gradient-primary" type="submit">
                  Search</button>
                            </div>
                        </div>
                    </form>

                    <div class="row mt-5" data-aos="fade-up" data-aos-delay="50">
                        <div class="col-lg-12 d-flex justify-content-center">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                <span th:each="cate:${listCate}">
                                    <li th:data-filter="|.filter-${cate.idCategory}|">
                                        [[${cate.nameCategory}]]</li>
                                </span>
                            </ul>
                        </div>
                    </div>

         <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="20">
			<div th:each="pro:${pagePro}" >
			<div >
				<a th:href="@{|/product/detail/${pro.idProduct}|}">
				  <div style="height: 430px" th:class="|col-lg-3 col-md-4 portfolio-item filter-${pro.category.idCategory}|">
				  	<div class="img img-fluid ">
				  		<img th:src="${pro.imageProduct}" class="img-fluid" style="height: 245px">
				  	</div>
				  	<div class="info">
				  		<div>
					  		<h4>[[${pro.nameProduct}]]</h4>
			                <h3>[[${pro.category.nameCategory}]]</h3>
			                <p th:text="*{#numbers.formatDecimal(pro.priceProduct, 0, 'COMMA', 0, 'POINT')}"></p>
		                </div>
		                <div class="add-to-cart" style="text-align: center;">
			            	<a class="get-started-btn scrollto" th:style="|display:${pro.statusObject.idStatus == 'ST01' ? 'inline-block' : 'none'}|" th:href="@{|/cart/add?idproduct=${pro.idProduct}|}">
			            		 Thêm vào giỏ </a>
		            	</div>
		         	</div>
	          	</a>
			</div>
				
			</div>
		
        </div>

      </div>
      
    </section>
    <div class="btn-next">
   	  <a th:href="@{|/product/index?page=0#portfolio|}" class="custom-btn btn-5"> First </a>
      <a th:href="@{|/product/index?page=${pagePro.number-1}#portfolio|}" class="custom-btn btn-5" > << </a>
	  <button class="btn btn-inverse-success btn-sm"> [[${pagePro.number+1}]] / [[${pagePro.totalPages}]]  </button>
	  <a th:href="@{|/product/index?page=${pagePro.number+1}#portfolio|}" class="custom-btn btn-5"> >> </a>
	  <a th:href="@{|/product/index?page=${pagePro.totalPages-1}#portfolio|}" class="custom-btn btn-5"> Last </a>
	</div>
   <!--  End Product Section -->


     <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Call To Action</h3>
          <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a class="cta-btn" href="#">Call To Action</a>
        </div>

      </div>
    </section>
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                <div class="container" data-aos="fade-up">
                    <div class="section-title">
                        <h2>Contact</h2>
                        <p>Contact Us</p>
                    </div>

                    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.030322433524!2d105.8218391144074!3d21.031472693062785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135abccd50af547%3A0x20db5e56262c045b!2sCurnon%20Watch!5e0!3m2!1svi!2s!4v1619424952863!5m2!1svi!2s"
                            width="100%" height="270" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
                    </div>

                    <div class="row mt-5">
                        <div class="col-lg-4">
                            <div class="info">
                                <div class="address">
                                    <i class="icofont-google-map"></i>
                                    <h4>Location:</h4>
                                    <p>33 Hàm Long, Hoàn Kiếm, Hà Nội.</p>
                                </div>

                                <div class="email">
                                    <i class="icofont-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>curnonbrandviet@gmail.com</p>
                                </div>

                                <div class="phone">
                                    <i class="icofont-phone"></i>
                                    <h4>Call:</h4>
                                    <p>19001900</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 mt-5 mt-lg-0">
                            <form action="forms" method="post" role="form" class="php-email-form">
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validate"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="3" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validate"></div>
                                </div>
                                <div class="mb-3">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>
                                </div>
                                <div class="text-center">
                                    <button type="submit">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End Contact Section -->
        </div>
        <!-- End #main -->
    </main>
</body>

</html>