<!DOCTYPE html>
<html>

<body>
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Curnon<span>.</span></h3>
              <p>
                33 Hàm Long<br>
                Hoàn Kiếm, Hà Nội.<br><br>
                <strong>Phone:</strong> 19001900<br>
                <strong>Email:</strong> curnonbrandviet@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
          
		  <div class="col-lg-4 col-md-6 footer-links">
            <h4>HANOI STORES</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">33 Hàm Long, Hoàn Kiếm, Hà Nội.</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">9 B7 Phạm Ngọc Thạch, Đống Đa, Hà Nội.</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">173C Kim Mã, Ba Đình, Hà Nội.</a></li>
            </ul>
          </div>
          
          <div class="col-lg-4 col-md-6 footer-links">
            <h4>TP.HCM STORES</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">25 Nguyễn Trãi, P.Bến Thành, Quận 1, TPHCM.</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Lầu 2, 63 Hồ Tùng Mậu, Quận 1, TPHCM.</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Curnon</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

</body>

</html>