<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="dynamic(main)">

<head>
    <meta charset="utf-8" />
    <title>Curnon Watch</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">

    <!-- Favicons -->
    <link href="/resources/style/home/assets/img/favicon.png" rel="icon">
    <link href="/resources/style/home/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!--CSS home -->
    <link href="/resources/style/home/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/style/home/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/resources/style/home/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/resources/style/home/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/resources/style/home/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/resources/style/home/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/resources/style/home/assets/vendor/aos/aos.css" rel="stylesheet">
	<!-- end CSS home -->
	<!-- css admin -->
	<link rel="stylesheet" href="/resources/style/admin/assets/vendors/mdi/css/materialdesignicons.min.css">

    <link rel="stylesheet" href="/resources/style/admin/assets/vendors/css/vendor.bundle.base.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="/resources/style/admin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/resources/style/admin/assets/images/favicon.ico" />
    <!--end css admin -->
    <!-- Template Main CSS File -->
    <link href="/resources/style/home/assets/css/style.css" rel="stylesheet">
</head>

<body>
    <nav class="row">
        <div th:replace="/layout/_menu.html"></div>
    </nav>
    <div class="">
        <div th:replace="${main}"></div>
    </div>
    <footer class="">
        <div th:replace="/layout/_footer.html"></div>
    </footer>

    <!-- Vendor JS Files -->
    <script src="/resources/style/home/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/resources/style/home/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/resources/style/home/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/resources/style/home/assets/vendor/php-email-form/validate.js"></script>
    <script src="/resources/style/home/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/resources/style/home/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/resources/style/home/assets/vendor/venobox/venobox.min.js"></script>
    <script src="/resources/style/home/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="/resources/style/home/assets/vendor/counterup/counterup.min.js"></script>
    <script src="/resources/style/home/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/resources/style/home/assets/js/main.js"></script>
    <script src="/resources/style/admin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/resources/style/admin/assets/js/off-canvas.js"></script>
    <script src="/resources/style/admin/assets/js/hoverable-collapse.js"></script>
    <script src="/resources/style/admin/assets/js/misc.js"></script>

</body>

</html>